# Description: Environment variables for the project

# 9GAG URL to scrape from
9GAG_URL="https://9gag.com/u/<user>/likes"

# 9GAG credentials
USERNAME=
PASSWORD=

# Notion API token
NOTION_TOKEN=

# Notion database ID
NOTION_DATABASE =

# Path to save memes and covers
COVERS_PATH="./dump/covers"
MEMES_PATH="./dump/memes"

# Webhook for Discord notifications (optional)
DISCORD_WEBHOOK_URL=