[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
notion-client = "*"
python-dotenv = "*"
validators = "*"
requests = "*"
retry = "*"
latest-user-agents = "*"

[dev-packages]
autopep8 = "*"
mypy = "*"
types-requests = "*"
types-retry = "*"

[requires]
python_version = "3.11.4"

[scripts]
app = "python -m ninegag_notion_scraper"
